spring:
  cloud:
    gcp:
#      project-id: doori-sw-hackathon-service
      credentials:
        location: classpath:libs/keys/sw-hackathon-doori-ec7dfee581c7.json
      vision:
        enabled: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://121.187.22.37:5432/hackerthon?currentSchema=hackerthon
    username: root
    password: password
  # jpa properties
  jpa:
    hibernate:
      ddl-auto: create # When you launch the application for the first time - switch "none" at "create"
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true

  data:
    mongodb:
      host: 121.187.22.37
      port: 9999
      authentication-database: HACKERTHON
      username: mongouser
      password: mypassword
      database: RUDoori

chatgpt:
  api-key: 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
  # some properties as below have default values. For descriptions of these fields, please refer to https://platform.openai.com/docs/api-reference/completions/create and https://platform.openai.com/docs/api-reference/chat/create
  url: https://api.openai.com/v1/completions
  model: text-davinci-003
  max-tokens: 500
  temperature: 1.0
  top-p: 1.0
  multi:
      url: https://api.openai.com/v1/chat/completions
      model: gpt-3.5-turbo
      max-tokens: 2000
      temperature: 0.8
      top-p: 1.0
  image:
      url: https://api.openai.com/v1/images/generations
server:
  port: 8002

gcp:
  config:
    file: libs/keys/sw-hackathon-doori-ec7dfee581c7.json
  project:
       id: sw-hackathon-doori
  bucket:
    id: doori-bucket-01
  dir:
    name: dev

