<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EXAM</title>
  </head>
  <body>
    <p>exam페이지에 값을 넣어주세용~~~</p>
    <!-- <div class="button-list">
      <button
        class="chatbot-btn"
        th:each="chatbot : ${chatbotList}"
        th:onclick="chatbotButtonOnPress([[${chatbot}]])"
        th:text="${chatbot}"
      ></button>
    </div> -->
  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script th:inline="javascript"></script>
</html>
